.vblock {
  display: inline-block;
  padding: 4px;
}
.vblock span {
  display: block;
}
.l1-slice-div {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.l1-slice-div .kv-div {
  padding: 5px;
}
.l2-slice-div {
  padding: 5px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.l2-slice-div .video-div {
  text-align: center;
  margin: 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.kv-span {
  border-style: solid;
  background-color: white;
  margin: 2px;
  padding: 2px;
  white-space: nowrap;
  display: inline-block;
}
.kv-span .key {
  font-weight: bold;
  padding: 2px;
}
.kv-span .value {
  padding: 2px;
}
.kv-div button {
  margin: 2px;
}
#titleDiv {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#controlDiv {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
#controlDiv input[type="number"] {
  width: 60px;
  display: inline;
}
#drawDiv {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
