.vblock {
  display: inline-block;
  padding: 4px;
}
.vblock span {
  display: block;
}
.slice-div {
  border-style: solid;
  margin: 2px;
}
.slice-div .title {
  margin: 4px;
}
.cluster-div {
  text-align: center;
  padding: 4px;
  margin: 4px;
  border-style: dashed;
}
.cluster-div .video-div {
  margin: 2px;
}
.control-div {
  padding: 4px;
}
.kv-span {
  border-style: solid;
  margin: 2px;
  padding: 2px;
}
.kv-span .key {
  font-weight: bold;
  padding: 2px;
}
.kv-span .value {
  padding: 2px;
}
